:root {
  --red: #af1b1b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
  scrollbar-gutter: stable;
}

html {
  scrollbar-gutter: stable;
  overflow: auto;
}

body * {
  box-sizing: border-box;
}

.required-field {
  color: var(--red);
}